arrow==1.3.0
backcall==0.2.0
bg==1.10
blinker==1.9.0
cfgv==3.4.0
openai-clip
coloredlogs==15.0.1
confection==0.1.5
coverage==7.7.1
ddgs==9.4.1
deepdiff==8.1.1
deepface==0.0.93
distlib==0.3.9
docopt==0.6.2
duckduckgo-search==8.1.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
enum-compat==0.0.3
ete3==3.1.3
fastcore==1.7.28
fire==0.7.0
flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
fqdn==1.5.1
ftfy==6.3.1
fuzzywuzzy==0.18.0
gast==0.6.0
gdown==5.2.0
gensim==4.3.3
grpcio==1.70.0
gunicorn==23.0.0
h5py==3.13.0
humanfriendly==10.0
icecream==2.1.3
identify==2.6.4
imageio==2.36.1
imgaug==0.4.0
iniconfig==2.1.0
ipython==8.12.3
isoduration==20.11.0
itsdangerous==2.2.0
jsonlines==4.0.0
jsonpointer==3.0.0
keras==3.13.2
lazy-loader==0.4
levenshtein==0.26.1
libclang==18.1.1
llvmlite==0.43.0
loguru==0.7.3
lxml==6.0.0
lz4==4.4.4
markdown==3.7
marshmallow==3.26.1
mergedeep==1.3.4
minisom==2.3.5
ml-dtypes==0.5.4
mock==5.2.0
mtcnn==1.0.0
namex==0.0.8
nltk==3.9.1
nodeenv==1.9.1
nose==1.3.7
numba==0.60.0
onnx==1.17.0
onnxruntime-gpu==1.21.0
onnxscript==0.7.1
onnxslim==0.1.48
opencv-python==4.10.0.84
opt-einsum==3.4.0
orderly-set==5.2.3
pickleshare==0.7.5
pipreqs==0.5.0
pluggy==1.5.0
pre-commit==4.0.1
primp==0.15.0
protobuf==6.33.5
psutil==7.0.0
py-cpuinfo==9.0.0
pydantic==2.10.4
pydantic-core==2.27.2
pynndescent==0.5.13
pytest==8.3.5
python-levenshtein==0.26.1
random2==1.0.2
rapidfuzz==3.11.0
regex==2024.11.6
retina-face==0.0.17
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.13.1
selectivesearch==0.4
shapely==2.0.6
srsly==2.5.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==2.5.0
tf-keras==2.20.1
tifffile==2024.12.12
tiktoken==0.9.0
torch-snippets==0.547
torch-summary==1.4.5
torchsummary==1.5.1
torchtext==0.18.0
types-python-dateutil==2.9.0.20241206
typing==3.7.4.3
tzdata==2024.2
ultralytics==8.3.96
ultralytics-thop==2.0.14
umap-learn==0.5.7
uri-template==1.3.0
virtualenv==20.28.0
wasabi==1.1.3
webcolors==24.11.1
wrapt==1.17.2
xmltodict==0.14.2
yarg==0.1.9
yt-dlp==2025.7.21
